{% extends 'portf/base.html' %}

{% block header %}

{% load static %}


<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Привет</h1>
      <p class="lead">Это главная страница сайта</p>
    </div>

<img src="{% static 'portf/473063.jpg' %}" width="800" height="450" class="center"><br>

<div class="center">
  <div class="row">
    {% for project in projects %}
      <div class="card" style="width: 18rem;">
        <img src="{{ project.image.url }}" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">{{ project.title }}</h5>
          <p class="card-text">{{ project.desc|truncatechars:15 }}</p>
          {% if project.url %}
          <a href="#" class="btn btn-primary">Перейти</a>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% endblock header %}
